.t{
  fill: #7EEBF1;
}

.d{
  fill: #CB7C80;
}
.h{
  fill: #FFE66D;
}
.t.selection {
  fill: #493657;
}
.d.selection {
  fill: #493657;
}
.h.selection {
  fill: #493657;
}

.chart text {
  fill: black;
  font: 10 px sans-serif;
  text-anchor: end;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
