#carte {
  height: 600px;
  width: 700px;
}

#destruction {
  float: right;
}

.delib {
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1;
}

.delib p{
  line-height: 1;
  padding-bottom: 0;
  margin-bottom: 0;
}

.titre {
  font-weight: bold
}


.detruit{
  fill: none
}


.city-circle, .bar{
  fill: grey;
  }
  .city-circle.selection, .bar.selection{
    fill: red
  }

  .city-circle.actif, .bar.actf{
    fill: green
  }

  